<ion-header>
  <ion-toolbar>
    <ion-title>Registro Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="form-container">

    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="registroRestauranData.nombre"  maxlength="25" required></ion-input>
    </ion-item>

    <!-- Nombre del restaurante -->
    <ion-item>
      <ion-label position="floating">Nombre del restaurante</ion-label>
      <ion-input type="text" [(ngModel)]="registroRestauranData.nombreRestaurante" maxlength="25" required></ion-input>
    </ion-item>

    <!-- Teléfono del restaurante -->
    <ion-item>
      <ion-label position="floating">Teléfono del restaurante (10 dígitos)</ion-label>
      <ion-input type="tel" [(ngModel)]="registroRestauranData.telefono" pattern="[0-9]+" maxlength="12" required></ion-input>
    </ion-item>

    <!-- Dirección del restaurante -->
    <ion-item>
      <ion-label position="floating">Dirección del restaurante</ion-label>
      <ion-input type="text" [(ngModel)]="registroRestauranData.direccion" required></ion-input>
    </ion-item>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="registroRestauranData.correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registroRestauranData.contrasena" required></ion-input>
    </ion-item>

    <!-- Confirmar contraseña -->
    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarContrasena" required></ion-input>
    </ion-item>

    <!-- Total de Mesas -->
 

    <!-- Mesas -->
    <ion-item>
      <ion-label position="floating">Mesas de 4 sillas</ion-label>
      <ion-input type="number" [(ngModel)]="mesas4Sillas" min="0"></ion-input>
    </ion-item>
    
    <!-- Total de Mesas de 6 sillas -->
    <ion-item>
      <ion-label position="floating">Mesas de 6 sillas</ion-label>
      <ion-input type="number" [(ngModel)]="mesas6Sillas" min="0"></ion-input>
    </ion-item>
    
    <!-- Total de Mesas de 10 sillas -->
    <ion-item>
      <ion-label position="floating">Mesas de 10 sillas</ion-label>
      <ion-input type="number" [(ngModel)]="mesas10Sillas" min="0"></ion-input>
    </ion-item>

    <!-- Botón de Registro -->
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="registerRestauran()" [disabled]="!registroRestauranData.nombre || !registroRestauranData.nombreRestaurante || !registroRestauranData.telefono || !registroRestauranData.direccion || !registroRestauranData.correo || !registroRestauranData.contrasena || !confirmarContrasena || totalMesas < 5">Registrarse como restaurante</ion-button>
      </ion-col>
    </ion-row>

    <!-- Botón de Cancelar -->
    <ion-row>
      <ion-col size="12" class="cancel-button">
        <ion-button expand="block" (click)="cancelarRegistro()">Cancelar</ion-button>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>
